.other-info {
  @include reset();
}

.other-info__title {
  @include reset();
  color: $font-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 27px;
  padding-bottom: 23px;
}

.other-info__wrapper {
  display: flex;
}

.other-info__label {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
  padding-bottom: 8px;
  position: relative;
}

.other-info__label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cfcfcf;
  left: 0;
  top: -5px;
}

input:checked+.other-info__label::before {
  background-image: url("../img/icon-tick-1-.svg");
  background-repeat: no-repeat;
  background-position: 4px 5px;
  background-size: 80%;
}


@media (min-width: $tablet-width) {
  .other-info__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 62px;
    margin-left: 39px;
    margin-bottom: 28px;
  }

  .other-info__block {
    display: flex;
    flex-wrap: wrap;
    width: 690px;
    min-height: 113px;
    margin-left: 52px;
  }

  .other-info__wrapper {
    width: 50%;
    margin-bottom: 27px;
  }

  .other-info__label {
    font-size: 20px;
    line-height: 20px;
  }

  .other-info__label::before {
    width: 40px;
    height: 40px;
    left: -11px;
    top: -10px;
  }

  input:checked+.other-info__label::before {
    background-size: 60%;
    background-position: 8px 9px;
  }
}

@media (min-width: $desktop-width) {
  .other-info__title {
    margin-left: 0;
    padding-top: 64px;
  }

  .other-info__block {
    margin-left: 13px;
    align-items: flex-start;
    width: 100%;
    min-height: 110px;
  }

  .other-info__wrapper {
    width: 300px;
    margin-right: 25px;
    margin-bottom: 0;
  }

  .other-info__label {
    padding-bottom: 0;
  }

  .other-info__wrapper--last {
    margin-right: 0;
    width: 200px;
  }
}
