.button {
  background-color: #68b738;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font: $main-font;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-transform: uppercase;
  background-origin: none;
  font-weight: 400;
}
