.button {
  background-color: #68b738;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font: $main-font;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  text-transform: uppercase;
  background-origin: none;
  font-weight: 400;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    // color: rgba(255,255,255 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}
