.catalog-main {
  font-family: $main-font;
  color: $font-color;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.catalog-main__title {
  @include reset();
  padding-top: 16px;
  padding-bottom: 27px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.catalog-main__subtitle {
  @include reset();
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 9px;
  display: flex;
  margin-left: 20px;
  margin-top: 27px;

  &::after {
    content: "";
    width: 5px;
    height: 3px;
    background-color: #68b738;
    margin-left: 22px;
    margin-top: 14px;
    margin-bottom: auto;
    flex-grow: 2;
  }
}

@media (min-width: $tablet-width) {
  .catalog-main {
    padding: 0;
  }

  .catalog-main__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 43px;
    padding-left: 30px;
    padding-bottom: 93px;
    border: none;
  }


  .catalog-main__subtitle {
    @include reset();
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    margin-top: 4px;
    position: relative;
    border: none;


    &::before {
      content: "";
      width: 30px;
      height: 3px;
      background-color: #68b738;
      margin-right: 38px;
      margin-top: 21px;
      margin-bottom: auto;
      flex-grow: 0;
    }

    &::after {
      margin-top: 21px;
      margin-left: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    padding-top: 10px;
  }

  .catalog-main__title {
    padding-top: 52px;
    padding-left: 110px;
    padding-bottom: 82px;
  }

  .catalog-main__subtitle {
    @include reset();
    margin-top: 4px;
    margin-bottom: 76px;

    &::before {
      width: 70px;
      margin-right: 40px;
    }
  }
}
