.catalog-main {
  font-family: $main-font;
  color: $font-color;
  display: flex;
  flex-direction: column;
}

.catalog-main__title {
  @include reset();
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 29px;
  padding-left: 20px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .catalog-main {
    padding: 0;
  }

  .catalog-main__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 43px;
    padding-left: 30px;
    padding-bottom: 93px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    padding-left: 35px;
    padding-right: 70px;
    padding-top: 10px;
  }

  .catalog-main__title {
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 82px;
  }
}
