.comment {
  @include reset();
}

.comment__title {
  @include reset();
  color: $font-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 28px;
  padding-left: 20px;
  padding-bottom: 35px;
  display: flex;

  &::after {
    content: "";
    width: 5px;
    height: 3px;
    background-color: #68b738;
    margin-left: 22px;
    margin-top: 14px;
    margin-bottom: auto;
    flex-grow: 2;
  }
}

.comment__area {
  width: 280px;
  height: 150px;
  border: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: $main-font;
  text-transform: uppercase;
  color: #444444;
  padding: 12px 13px;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .comment__title {
    @include reset();
    font-size: 36px;
    line-height: 36px;
    padding-top: 45px;
    padding-left: 0px;
    margin-bottom: 42px;

    &::before {
      content: "";
      width: 30px;
      height: 3px;
      background-color: #68b738;
      margin-right: 40px;
      margin-top: 20px;
    }

    &::after {
      margin-top: 20px;
      margin-left: 41px;
    }
  }

  .comment__area {
    width: 633px;
    min-height: 174px;
    margin-left: 69px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 34px;
    padding: 8px 20px;

  }
}

@media (min-width: $desktop-width) {
  .comment__title {
    padding-left: 0;
    padding-top: 46px;

    &::before {
      width: 70px;
      margin-top: 22px;
      margin-right: 38px;
    }

    &::after {
      margin-top: 22px;
    }
  }

  .comment__area {
    margin-left: 110px;
    width: 1220px;
    padding-top: 9px;
    padding-left: 19px;
  }
}
