.main-header {
  font-family: $main-font;
  color: $font-color;
  font-size: 20px;
  line-height: 20px;
  position: relative;
}

.main-header__logo {
  margin-bottom: 16px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo--closed-menu {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    align-items: flex-start;
  }

  .main-header__logo {
    width: 173px;
    height: 58px;
    margin-right: auto;
    margin-top: 12px;
  }

  .energy-logo__img {
    width: 173px;
    height: 58px;
  }

  .main-header__nav {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 30px;
    position: relative;
  }

  .main-header--index::before {
    content: "";
    position: absolute;
    width: 720px;
    height: 696px;
    right: 0;
    top: -11px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    z-index: -10;
  }


  .energy-logo__img {
    width: 202px;
    height: 60px;
  }
}
