.energy-logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.energy-logo__img {
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .energy-logo__menu-close {
    display: none;
  }
}
