.contacts {
  background-color: #ffffff;
  font-family: $main-font;
  color: $font-color;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  bottom: 172px;
  left: 128px;
  width: 49px;
  height: 53px;
  background-image: url("../img/map-pin.png");
  background-size: cover;
  z-index: 5;
}

.contacts__text {
  display: flex;
  padding-top: 28px;
  padding-bottom: 25px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 15;
}

.contacts__text--grey {
  background-color: $grey-bg;
}

.contacts__slogan {
  width: 50%;
  padding-left: 20px;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__address {
  width: 50%;
  padding-right: 20px;
  margin-left: auto;
  font-family: "Arial", serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts__map {
  width: 100%;
  margin-top: 75px;
}

.contacts iframe {
  position: absolute;
  width: 100%;
  height: 363px;
  z-index: 10;
  bottom: 0;
  border: none;
}

@media (min-width: $tablet-width) {
  .contacts__map-wrapper {
    width: 100%;
    background-clip: border-box;
    margin-top: 50px;
  }

  .contacts__text {
    padding-top: 63px;
  }

  .contacts__slogan {
    padding-left: 70px;
    padding-top: 2px;
    width: 250px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    padding-right: 72px;
    width: 50%;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__address-city {
    display: block;
    padding-top: 20px;
  }

  .contacts__map {
    padding-top: 72px;
  }

  .contacts::before {
    width: 90px;
    height: 105px;
    background-size: cover;
    bottom: 150px;
    left: 324px;
    z-index: 5;
  }

  .contacts iframe {
    height: 396px;
    z-index: 10;
    opacity: 1;
  }
}
