.living-example {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.livin-example__info-wrapper {
  padding-top: 22px;
  background-color: $grey-bg;
  background-clip: border-box;
  display: flex;
  flex-wrap: wrap;
}

.living-examle__img-wrapper {
  background-color: $grey-bg;
  background-clip: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 38px;
}

.living-example__title {
  @include reset();
  font-size: 36px;
  line-height: 38px;
  font-weight: 400;
  margin-bottom: 35px;
}

.living-example__info {
  @include reset();
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  padding-right: 12px;
  margin-bottom: 24px;
}

.living-example__table {
  width: 100%;
  margin-bottom: 22px;
  text-align: center;
}

.living-example__table tr {
  display: flex;
  justify-content: space-between;
}

.living-example__data {
  padding: 14px 1px;
  text-align: center;
  width: 122px;
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
}

.living-example__parameter {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  padding: 0;
  width: 122px;
  display: flex;
  margin-top: -9px;
}

.living-example__mask {
  margin: 0 auto;
  width: 80px;
  text-align: center;
  background-color: $grey-bg;
  z-index: 10;
}

.living-example__result {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.living-example__img {
  width: 100%;
  margin-bottom: 32px;
}

.living-example__slider-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-width: 198px;
}

.living-example__desciption {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.living-example__button {
  border: none;
  background-color: transparent;
}

.living-example__switch {
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  display: flex;
  border-radius: 5px;
}

.living-example__img-switch {
  width: 35px;
  height: 6px;
  margin: auto;
  margin-left: 5px;
  background: #68b738;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {
  .livin-example__info-wrapper {
    background-color: #ffffff;
    background-clip: border-box;
    border: 2px solid green;
  }
}

@media (min-width: $desktop-width) {
  .living-example {
    width: $desktop-width;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .livin-example__info-wrapper {
    width: 50%;
    background-color: $grey-bg;
  }

  .living-examle__img-wrapper {
    width: 50%;
  }
}
