.program-selection {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 31px;
}

.program-selection__description {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 0;
  width: 90%;
}

.program-selection__footnote {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  padding-left: 61px;
}

@media (min-width: $tablet-width) {
  .program-selection {
    padding-bottom: 54px;
  }

  .program-selection__description {
    @include reset();
    margin-left: 0;
    margin-bottom: 28px;
    margin-top: 56px;
    padding-left: 70px;
    width: 400px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }

  .program-selection__footnote {
    margin-top: 45px;
    margin-left: 10px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 16px;
    font-family: "Arial", "Helvetica", sans-serif;
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    padding-bottom: 65px;
  }

  .program-selection__description {
    margin-left: 40px;
    margin-bottom: 28px;
  }

  .program-selection__footnote {
    margin-top: 15px;
    margin-left: 30px;
  }
}
