.program-selection {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 33px;
}

.program-selection__description {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  width: 90%;
}

.program-selection__footnote {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  padding-left: 61px;
}

@media (min-width: $tablet-width) {
  .program-selection {
    padding-bottom: 55px;
  }

  .program-selection__description {
    font-size: 20px;
    line-height: 30px;
    width: 327px;
    margin-left: 40px;
    margin-top: 55px;
    margin-bottom: 30px;
  }

  .program-selection__footnote {
    font-size: 16px;
    line-height: 16px;
    margin-top: 46px;
    margin-bottom: auto;
  }
}

@media (min-width: $tablet-width) {
  .program-selection {
    padding-bottom: 64px;
  }

  .program-selection__description {
    margin-left: 0;
    margin-bottom: 28px;
  }

  .program-selection__footnote {
    margin-top: 14px;
    margin-left: 20px;
  }
}
