.program-selection {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
}

.program-selection__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.program-selection__footnote {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  padding-left: 60px;
}
