.cat-info-label {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
}

.cat-info__radio-label {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
}

.cat-info__title {
  color: $font-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
