.cat-info {
  @include reset();
}

.cat-info__wrapper {
  display: flex;
  width: 100%;
}

.cat-info__input {
  flex-grow: 1;
  min-height: 43px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 11px;
  width: 50%;
  border: 1px solid #e6e6e6;
}

.cat-info__label {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
  text-transform: uppercase;
}

.cat-info__radio {
  padding-top: 36px;
}

.cat-info__radio-wrapper {
  @include reset();
  margin-bottom: 25px;
}

.cat-info__radio-label {
  font-family: $main-font;
  color: #222222;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
  position: relative;
}

.cat-info__radio-label::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  left: 0;
  top: -5px;
}

.cat-info__radio-label::after {
  content: "";
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  background-color: #68b738;
  border-radius: 50%;
  left: 9px;
  top: 5px;
}

input[type="radio"]:checked+.cat-info__radio-label::after {
  display: block;
}

.cat-info__title {
  @include reset();
  color: $font-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 30px;
  margin-left: -2px;
  padding-bottom: 19px;
}

@media (min-width: $tablet-width) {
  .cat-info__label {
    font-size: 20px;
    line-height: 20px;
  }

  .cat-info__wrapper {
    padding-left: 41px;
    padding-right: 37px;
    margin-bottom: 23px;
  }

  .cat-info__input {
    height: 48px;
  }

  .cat-info__radio {
    width: 630px;
    margin-left: 41px;
    margin-top: 77px;
    min-height: 194px;
    padding-left: 43px;
    padding-top: 32px;
  }

  .cat-info__radio-wrapper {
    margin-bottom: 32px;
  }

  .cat-info__radio-label {
    font-size: 20px;
    line-height: 20px;
  }

  .cat-info__radio-label::before {
    width: 40px;
    height: 40px;
    left: -15px;
    top: -3px;
  }

  .cat-info__radio-label::after {
    width: 18px;
    height: 18px;
    left: -4px;
    top: 7px;
  }

  .cat-info__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 43px;
    margin-left: 39px;
    margin-bottom: 43px;
  }
}

@media (min-width: $desktop-width) {
  .cat-info__cat-group {
    display: flex;
    width: 100%;
    align-items: flex-start;
  }

  .cat-info__cat-block {
    width: 40%;
  }

  .cat-info__wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 570px;
    margin-bottom: 24px;
  }

  .cat-info__radio {
    width: 570px;
    margin: 0;
    margin-left: auto;
    margin-top: 15px;
    padding-top: 32px;
    padding-left: 42px;
    padding-bottom: 0;
    border: 1px solid #e6e6e6;
  }

  .cat-info__owner-block {
    display: flex;
    justify-content: space-between;
  }

  .cat-info__title {
    margin-left: 0;
    padding-top: 48px;
    margin-bottom: 41px;
  }
}
