.site-nav {
  @include reset();
  display: flex;
  flex-direction: column;
  width: 100%;
  text-transform: uppercase;
}

.site-nav__item {
  display: fex;
  align-items: center;
  justify-content: center;
  min-height: 65px;
  text-align: center;
}

.site-nav__link {
  margin: auto;
  font-family: $main-font;
  color: $font-color;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
}
