.site-nav {
  @include reset();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-transform: uppercase;
  outline: 1px solid blue;
}

.site-nav__item {
  min-height: 65px;
  outline: 1px solid yellow;
}

.site-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  font-family: $main-font;
  color: $font-color;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
  outline: 1px solid fuchsia;
}

@media (min-width: $tablet-width) {
  .site-nav {
    flex-direction: row;
  }

  .site-nav__item {
    margin-left: 36px;
    justify-content: flex-start;
    min-height: auto;
  }

  .site-nav__link {
    margin-left: 0;
    font-size: 18px;
    margin-top: 34px;
  }
}

@media (min-width: $desktop-width) {
  .site-nav__item {
    margin-left: 34px;
  }

  .site-nav__link {
    font-size: 20px;
    line-height: 22px;
    color: #ffffff;
  }
}
