.form-main {
  font-family: $main-font;
  color: $font-color;
  padding-top: 20px;
}

.form-main__title {
  @include reset();
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 30px;
}
