.additional-catalog {
  font-family: $main-font;
  color: $font-color;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 35px;
}

.additional-catalog__title {
  @include reset();
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 48px;
}

.additional-catalog__list {
  @include reset();
  width: 100%;
  padding-bottom: 27px;
}

.additional-catalog__item {
  padding-bottom: 31px;
}

.additional-catalog__info-block {
  width: 100%;
}

.additional-catalog__table {
  font-size: 14px;
  line-height: 14px;
  margin-left: -3px;
  width: 100%;
  margin-bottom: 13px;
}

.additional-catalog__slogan {
  width: 100%;
  min-height: 289px;
  display: flex;
  justify-content: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional-catalog__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-top: auto;
  width: 163px;
  margin-bottom: 42px;
  text-align: center;
  position: relative;
}

.additional-catalog__text::before {
  position: absolute;
  content: "";
  width: 54px;
  height: 61px;
  top: -122px;
  left: 55px;
  background-image: url("../img/icon-gift-1.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .additional-catalog {
    padding-top: 2px;
    align-items: stretch;
    padding-bottom: 75px;
  }

  .additional-catalog__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    margin-bottom: 82px;
  }

  .additional-catalog__list {
    @include reset();
    margin-bottom: 70px;
  }

  .additional-catalog__info-block {
    display: flex;
    justify-content: space-between;
    outline: 2px solid blue;
    width: 634px;
  }

  .additional-catalog__item {
    outline: 1px solid #e6e6e6;
    padding-left: 39px;
    padding-top: 25px;
    height: 139px;
    width: 100%;
  }

  .additional-catalog__table {
    width: 230px;
    margin-left: auto;
    padding-right: 20px;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-catalog__table td {
    padding-top: 4px;
  }

  .additional-catalog__table .goods__characteristic {
    text-align: right;
    width: 135px;
  }

  .additional-catalog__slogan {
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
  }

  .additional-catalog__text {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 122px;
    text-align: left;
  }

  .additional-catalog__button {
    width: 100%;
    margin-right: 38px;
    padding-right: 4px;
  }

  .additional-catalog__text::before {
    top: -5px;
    left: -332px;
  }
}

@media (min-width: $desktop-width) {
  .additional-catalog {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 74px;
    padding-top: 4px;
    padding-bottom: 18px;
  }

  .additional-catalog__title {
    padding-left: 0;
    margin: 0;
    padding-bottom: 80px;
    width: 895px;
    border-bottom: 1px solid #cdcdcd;
  }

  .additional-catalog__list {
    padding-left: 0;
    padding-right: 0;
    width: 895px;
  }

  .additional-catalog__item {
    outline: none;
    border-bottom: 1px solid #cdcdcd;
    height: 72px;
    padding: 0;
    padding-left: 2px;
    width: 895px;
    flex-wrap: nowrap;
  }

  .additional-catalog__info-block {
    margin-top: 26px;
    width: 645px;
    flex-grow: 0;
  }

  .additional-catalog__table {
    width: 342px;

  }

  .additional-catalog__table .goods__characteristic {
    text-align: left;
  }

  .additional-catalog__table .goods__data {
    width: 43px;
    text-align: left;
  }

  .additional-catalog__button {
    width: 245px;
    margin: auto;
    margin-right: 0;
    margin-left: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 2px;
  }

  .additional-catalog__slogan {
    width: 245px;
    height: 289px;
    margin-left: auto;
    outline: 1px solid red;
    margin-right: 35px;
    background-image: url("../img/gift-photo-desktop@1x.jpg")
  }

  .additional-catalog__text {
    margin: auto;
    text-align: center;
    margin-bottom: 43px;
  }

  .additional-catalog__text::before {
    top: -120px;
    left: 55px;
  }
}
